body { background-color:#222; color:#aaa; font-family:Consolas,monospace; font-size:12px; line-height:150%; width:132ch; margin-left:auto; margin-right:auto; margin-top:1em; margin-bottom:1em; }
.page { background-color:#333; border:2px solid #111; padding:2em 2ch; }
tt { color:#c84; font-weight:bold; font-family:Consolas,monospace; }
pre { color:#777; margin:0 0; font-family:Consolas,monospace; }
i { color:#48f; }
b { color:#ccc; font-weight:bold; }
a { color:#fc0; }
s { color:#555; }
h1 { color:#ccc; font-size:200%; margin:0 0 0 0; line-height:125%; text-align:center; }
ul { margin:0 0; padding-left:0; list-style-type:none; }
ol { margin:0 0; padding-left:0; list-style-type:none; }
li { text-indent:-2ch; padding-left:2ch; }
li:before { content:"> "; color:#555; }
img { border:2px solid #111; }
iframe { border:2px solid #111; }
strong { color:#f42; font-weight:bold; }
table { font-size:100%; border-spacing:0; }
tr:first-child { background-color:#222; }
td { padding-right:1ch; padding-left:1ch; }